/* styles.css */

/* Estilos para el componente de creación de cuenta */

.signup-container img
{
  width: 365px;
}
.signup-container {
  display: flex;
  color: black;
  background-color: white;
  max-width: 500px;
  margin: 0 auto;
  padding: auto;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signup-container h2 {
  text-align: center;
  margin-bottom: 15px;
}

.signup-form {
  margin-top: 0px;
}

.signup-form button[type="button"], .signup-form button{
  display: inline-block;
  padding: 12px;
  background-color: #446bf7;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: background-color 0.3s, transform 0.3s;
}

.signup-form button[type="button"]:hover,.signup-form button:hover{
  background-color: #ffffff;
  color: #446bf7;
  border: 1px solid #446bf7;
  transform: scale(1.1);
}


/* Transiciones de deslizamiento para la animación */
.signup-form-enter-active {
  transition: transform 0.5s;
}

.signup-form-enter, .signup-form-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}

.loading-message {
  text-align: center;
}

/* Estilos para el formulario */
.signup-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form label {
  margin-bottom: 8px;
  font-size: 1rem;
}

.signup-form input {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s;
}

.signup-form input:focus {
  outline: none;
  border-color: #007BFF;
}

.error-message {
  background-color: #ffcccc;
  border: 1px solid #ff6666;
  color: #cc0000;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.password-strength {
  margin-top: 5px;
  font-size: 14px;
  color: #333;
}

.password-strength.low {
  color: #ff6347; /* Rojo para baja seguridad */
}

.password-strength.medium {
  color: #ffd700; /* Amarillo para media seguridad */
}

.password-strength.high {
  color: #32cd32; /* Verde para alta seguridad */
}
